:root {
  --primary: #c0b698;
  --secondary: #647e37;
  --dark: #300013;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  margin: 0 0 100px;
  border: 0;
  padding: 0;
  background-color: var(--primary);
  font-family: 'Indie Flower';
}

h1 {
  color: var(--secondary);
}

.setup-window {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem auto;
}
.choose-player-type {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  height: 120px;
  margin: 1rem;
}

.player1,
.selection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--primary);
  padding: 0.6rem;
  width: 100px;
  height: 30px;
  font-size: 20px;
  background-color: var(--secondary);
  border-radius: 6px;
  margin: 1rem auto;
  font-weight: 550;
}

svg {
  width: 24px;
  height: 24px;
  fill: var(--secondary);
}

.selection:hover,
button:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transition: 0.5s ease;
  cursor: pointer;
}

p,
.player1 {
  color: var(--secondary);
  background-color: var(--primary);
}

.btnOnClick {
  background-color: var(--primary);
  color: var(--secondary);
  margin-left: 0.7rem;
}

.showCurrent ::placeholder {
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 6px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name > input[type="text"] {
  border: 0;
  background: transparent;
  outline: 0;
  font-weight: 600;
  font-size: 24px;
  padding: 10px 0px;
  text-align: center;
  width: 150px;
}

.typeSelection {
  display: flex;
  gap: 1rem;
}

.p2Win {
  margin-top: 1px;
}

::placeholder {
  color: var(--secondary);
}

.player-wins {
  color: var(--secondary);
  font-weight: 600;
}
#reset-button,
.start-game {
  text-align: center;
  font-size: 20px;
  color: #c0b698;
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  height: 55px;
  width: 150px;
  margin: 10px;
}
.reset-container {
  display: none;
}

.start-game {
  margin-top: 2rem;
}

.roundWinner {
  height: 27px;
  text-align: center;
  color: var(--secondary);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
}
.start-button-div {
  display: none;
}

#board {
  display: none;
}

span {
  max-width: 100%;
  max-height: 100%;
  color: var(--secondary);
}

button {
  font-family: 'Indie Flower';
}

.square {
  display: flex;
  border: 3px solid var(--dark);
  height: 95px;
  width: 95px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.flex-column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.flex-wrap {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: center;
  margin: 2vh auto;
}

.flex-column .text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2vw;
  font-size: 2rem;
}

.footer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100px;
  position: absolute;
  margin: auto;
  bottom: 0;
}

a {
  text-decoration: none;
  color: var(--secondary);
  margin-bottom: 5px;
}


.fa-github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

@media (max-width: 800px) {
  .square {
    font-size: 25px;
  }

  #board {
    width: 15%;
  }
}
